// your workflow parameters
params {
  inputFile = "./testdata/squirrel-data.csv"
  resultsDir = "./results/"
  rInputFile = "./testdata/squirrel-data.csv"
  pipeline = 'r'

  parkName = ['Fort Tryon Park', 'Highbridge Park']//'Marcus Garvey Park'
}

// include basic process configuration options
includeConfig 'conf/base.config' 
